*{
    padding: 0;
    margin: 15px 15px;
}
h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 15px;
    font-family: sans-serif;
}

header, section, footer, aside, nav {
    display:block;

}

body {
    text-align: center;
    background: #2d3436;

}

.agrupar {
    border: 5px solid black;
    width: 960px;
    margin: 15xp 15px;
}

.header {
    background: #74b9ff;
    border: 5px solid black;
    padding: 20px;
}

.header h1 {
    text-align: left;
}

.menu {
    background: #81ecec;
    border: 5px solid black;
    padding: 5px 15px;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.seccion {
    margin: 20px;
    width: 600px;
    float: left;
    border: 5px solid black;
}

article {
    background: lightslategray;
    border: 5px solid black;
    
}

article footer {
    text-align: right;
}

time {
    color: rgb(102, 102, 102);
}
.columna {
    width: 300px;
    float: left;
    border: 5px solid black;
    margin: 20px 0px ;
    background: #fab1a0;
}

.pie {
    clear: both;
    padding: 20px;
    background:#2d3436 ;
    color: white;
    border: 5px solid black;
}

img {
    width: 80px;
}